
<!DOCTYPE html>
<html>
<head>
    <title>Image Classification</title>
</head>
<body>
    <center>
        <h1>Image Classification</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br><br>
            <input type="submit" value="Predict">
        </form>
        <br>
        <div id="result"></div>
    </center>

    <script>
        document.querySelector('form').onsubmit = function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                resultDiv.innerHTML = `<strong>Prediction:</strong> ${data.prediction}`;
            });
        };
    </script>
</body>
</html>
